@media (prefers-color-scheme:dark) 
	body
		background-color color-background-back-dark
		color color-font-dark
	#wrapper
		background-color color-background-front-dark
	.post,.links
		h1
			color #fff
	h1,h2
		color #fff
	h3,h4,h5
		color #ddd
	h6
		color color-font-dark
	b,strong
		color #c6cbd7
	hr
		background color-background-back-dark
	.profile 
		h1
			color #fff
	#post-meta 
		div 
	.dark
		color #c6cbd7
	#post-list 
		a
			color #fff
	#post-toc
		>ol
			background color-background-front-dark
	#post-meta
		background color-background-back-dark
	.btn
		background color-background-front-dark
		color color-font-dark
		&:hover
			background color-background-back-dark
	tr
		&:nth-child(odd)
			&>td
				background color-background-back-dark
	th,thead th
		color #ddd
	.post-link,.ct-item
		color color-font-dark
	.ct-item
		background color-background-back-dark
		&:hover
			background color-background-front-dark
	.post-item
		&:hover
			background color-background-back-dark
	.links-list
		a[href]:hover
			background-color color-background-back-dark
:root
	--waline-theme-color color-theme !important
	--waline-active-color color-theme-alpha !important
code[class*="language-"],pre[class*="language-"]
	padding 0	
	color #ABB2BF	
	background none	
	font-family Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace	
	text-align left	
	white-space pre	
	word-spacing normal	
	word-break normal	
	word-wrap normal	
	line-height 1.5	
	-moz-tab-size 4	
	-o-tab-size 4	
	tab-size 4	
	-webkit-hyphens none	
	-moz-hyphens none	
	-ms-hyphens none	
	hyphens none	
pre[class*="language-"]::-moz-selection,pre[class*="language-"]::-moz-selection,code[class*="language-"]::-moz-selection,code[class*="language-"]::-moz-selection
	text-shadow none	
	background #949dad	
pre[class*="language-"]::selection,pre[class*="language-"]::selection,code[class*="language-"]::selection,code[class*="language-"]::selection
	text-shadow none	
	background #9aa2b1	
@media print
	code[class*="language-"],pre[class*="language-"]
		text-shadow none
pre[class*="language-"]
	padding 1em	
	margin .5em 0	
	overflow auto	
:not(pre)>code[class*="language-"],pre[class*="language-"]
	background #282c34	
:not(pre)>code[class*="language-"]
	padding .1em	
	border-radius .3em	
	white-space normal	
.token.comment,.token.prolog,.token.doctype,.token.cdata
	color #5C6370	
.token.punctuation
	color #abb2bf	
.token.selector,.token.tag
	color #e06c75	
.token.property,.token.boolean,.token.number,.token.constant,.token.symbol,.token.attr-name,.token.deleted
	color #d19a66	
.token.string,.token.char,.token.attr-value,.token.builtin,.token.inserted
	color #98c379	
.token.operator,.token.entity,.token.url,.language-css .token.string,.style .token.string
	color #56b6c2	
.token.atrule,.token.keyword
	color #c678dd	
.token.function
	color #61afef	
.token.regex,.token.important,.token.variable
	color #c678dd	
.token.important,.token.bold
	font-weight bold	
.token.italic
	font-style italic	
.token.entity
	cursor help;