@media (prefers-color-scheme:dark) 
	body
		background-color color-background-back-dark
		color color-font-dark
	#wrapper
		background-color color-background-front-dark
	.post,.links
		h1
			color #fff
	h1,h2
		color #fff
	h3,h4,h5
		color #ddd
	h6
		color color-font-dark
	b,strong
		color #c6cbd7
	hr
		background color-background-back-dark
	code
		background color-background-back-dark
		color #ABB2BF
	code[class*="language-"],pre[class*="language-"]
		color #ABB2BF
	:not(pre)>code[class*="language-"],pre[class*="language-"]
		background color-background-back-dark
	.token.comment,.token.prolog,.token.doctype,.token.cdata
		color #5C6370
	.token.punctuation
		color #ABB2BF
	.profile 
		h1
			color #fff
	#post-meta 
		div 
	.dark
		color #c6cbd7
	#post-list 
		a
			color #fff
	#post-toc
		>ol
			background color-background-front-dark
	#post-meta
		background color-background-back-dark
	.btn
		background color-background-front-dark
		color color-font-dark
		&:hover
			background color-background-back-dark
	tr
		&:nth-child(odd)
			&>td
				background color-background-back-dark
	th,thead th
		color #ddd
	.post-link,.ct-item
		color color-font-dark
	.ct-item
		background color-background-back-dark
		&:hover
			background color-background-front-dark
	.post-item
		&:hover
			background color-background-back-dark
	.links-list
		a[href]:hover
			background-color color-background-back-dark
:root
	--waline-theme-color color-theme !important
	--waline-active-color color-theme-alpha !important