@media (prefers-color-scheme:dark) 
	body
		background-color #181c27
		color color-font-dark
	.post,.links
		h1,h1
			color #fff
	h1,h2
		color #fff
	h3,h4,h5
		color #ddd
	b, strong
		color #c6cbd7
	hr
		background #2e2e2e
	.profile 
		h1
			color #fff
	#post-meta 
		div 
			span.dark
				color #c6cbd7
	#post-list 
		a
			color #fff
	#post-meta
		border-top 1px solid #2e2e2e
		border-bottom 1px solid #2e2e2e