// Color
color-font = #222
color-font-dark = #ddd
color-meta = #b2b9be
color-theme = #5694f1
color-theme-alpha = #5694f180
color-background-front = #fff
color-background-back = #f2f2f2
color-background-front-dark = #2a303c
color-background-back-dark = #242933

// Width
page-width = 800px