<div class="profile">
        <h1><%= config.title %></h1>
	<% if (theme.hitokoto){ %>
		<h2 id="time">LOADING</h2>
	<% } else { %>
		<h2 id="time"><%= config.subtitle %></h2>
	<% } %>
	</header>
</div>