<button class="btn" id="loadcmts" onclick="cmts.load();"><%= __('load_comments') %></button>
<div id="waline"></div>
<script>
	const cmts={
		load:function cmts(){
			const HEAD = document.getElementsByTagName('head')[0] || document.documentElement;
			const jsSrc = '<%= theme.js.waline %>';
			const cssSrc = '<%= theme.css.waline %>';
			const script = document.createElement('script');
			const style = document.createElement('link');
			style.setAttribute('rel','stylesheet');
			script.setAttribute('type','text/javascript');
			script.onload = function() {
				Waline.init({
					el: "#waline",
					serverURL: "<%= theme.waline.serverurl %>",
					dark: "auto",
					login: "disable",
					emoji: [
						'https://cdn.jsdelivr.net/gh/walinejs/emojis@1.0.0/alus',
						'https://cdn.jsdelivr.net/gh/walinejs/emojis@1.0.0/bilibili',
					],
				})
			}
			script.setAttribute('src', jsSrc);
			style.setAttribute('href', cssSrc);
			HEAD.appendChild(script);
			HEAD.appendChild(style);
			const loadcmt = document.getElementById("loadcmts");
			const imyourfather = loadcmt.parentNode;
			imyourfather.removeChild(loadcmts)
		}
	}
</script>