.post-link,.ct-item
	color color-font
.ct-item 
	margin-right 10px
	background color-background-back
	border-radius 3px
	padding 4px 6px
	line-height 2
	&:hover
		background color-background-front
.ct-item-count
	font-style normal
	font-size .6em
	vertical-align super
	opacity .6
.ct-tag
	&:before 
		content '#'
.archive-tag
	&:before 
		content '#'
.archive 
	margin 0 0 50px
.archive-list
		content-visibility auto
.post-item 
	padding 5px
	margin-bottom 5px
	border-radius 3px
	overflow-x hidden
	white-space nowrap
	list-style none
	transition .3s ease-out
	&:hover
		background color-background-back
.post-time 
	display inline-block
	width 60px
	margin 0
	color #8a8a8a
.archive-page-counter,.category-page-counter,.tag-page-counter
	font-size 1.2rem
	display block