#post-body
	p 
		line-height 1.7
.headerlink
	&:before
		content '#'
.home 
	h1 
		font-size 30px
		letter-spacing -1px
		color #222
		font-weight 700
	h2 
		font italic 19px/1.3em Georgia,serif
		color #bbb
#post-toc
	position relative
	text-align right
	a
		&:hover
			text-decoration underline
	ol
		list-style none
	>ol
		position fixed
		display inline-block
		text-align left
		max-width 15rem
		margin-left 2rem
		padding 1rem
		max-height 50vh
		overflow auto
		background color-background-front
		&:before
			content 'TOC'
			text-align center
			display block
	.toc-child
		margin 0.2rem 0 0.2rem 0.5rem
.post
	text-align center
	h1 
		margin-bottom 0
		color #222
		font 300 2rem "Helvetica Neue",Helvetica,Arial,sans-serif
	h2 
		font 300 1.5rem "Helvetica Neue",Helvetica,Arial,sans-serif
		margin -5px 0 40px 0
		color color-meta
		text-transform uppercase
		letter-spacing 2px
.footline 
	font italic 400 .8rem "Helvetica Neue",Helvetica,Arial,sans-serif
	margin 40px 0 -5px 0
	a 
		&:before 
			content "#"
#post-body,.footline
	a
		&:hover
			text-decoration underline
	img
		transition filter .35s ease 0s
		&:not(.lazyloaded)
			filter blur(5px)
#post-meta 
	font-size .8rem
	background color-background-back
	border-radius 3px
	padding 20px
	margin 40px 0
	div 
		margin 0 25px 0 0
		float left
		span 
			font-weight 500
			display block
	img 
		height 32px
		width 32px
		float left
		border-radius 50%
		margin 0 20px 0 0
		box-shadow 0 0 0 3px #fff,0 0 0 4px #eee
	.btn
		float right
.dark 
	color #1e2025
.btn
	font-weight 700
	cursor pointer
	color color-font
	padding 6px 10px
	border-radius 3px
	background color-background-front
	&:hover 
		background color-background-back
#comment
	margin 2rem 0
	text-align center