#social
	flex-direction row
	justify-content center
	.small
		margin 0 

#footer
	padding 40px 0 0 0
	.upyun
		&:before
			content ''
			background url(../images/upyun.svg)
			background-size cover
			vertical-align middle
			height 16px
			width 47px
			display inline-block