::selection 
	background #6eacdd
	color color-background-back
@media only screen and (min-width:767px) 
	html::-webkit-scrollbar-track-piece,body::-webkit-scrollbar-track-piece,pre::-webkit-scrollbar-track-piece,#post-toc>ol::-webkit-scrollbar-track-piece
		background rgba(0,0,0,.5)
	html::-webkit-scrollbar,body::-webkit-scrollbar,pre::-webkit-scrollbar,#post-toc>ol::-webkit-scrollbar
		width 6px
		height 6px
	html::-webkit-scrollbar-thumb,body::-webkit-scrollbar-thumb,pre::-webkit-scrollbar-thumb,#post-toc>ol::-webkit-scrollbar-thumb
		height 40px
		background-color color-theme
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video 
	border 0
	font-size 100%
	font inherit
	vertical-align baseline
	margin 0
	padding 0
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section 
	display block
body 
	line-height 1
	font 1rem "Avenir Next",Avenir,"Helvetica Neue",Helvetica,"Lantinghei SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑", "STHeiti","WenQuanYi Micro Hei",SimSun,sans-serif
	color color-font
	background color-background-back
	-webkit-font-smoothing antialiased
	text-rendering optimizeLegibility
blockquote,q 
	quotes none
blockquote:after,blockquote:before,q:after,q:before 
	content none
table 
	border-collapse collapse
	border-spacing 0
	width 100%
	margin 40px 0
	font-size .8rem
	line-height 1.5em
*,:after,:before 
	-moz-box-sizing border-box
	-webkit-box-sizing border-box
	box-sizing border-box
.clearfix 
	&:after 
		content ""
		display table
		clear both
.hidden 
	display none
.line .post-body ul,.post h1,ol,p,pre 
	margin-bottom 20px
body,html 
	scroll-behavior smooth
	overflow-x hidden
	margin-right calc(-1 * (100vw - 100%))
h1 
	font-size 2rem
	letter-spacing -1px
h2 
	font-size 1.5rem
h1,h2
	color #000
h3,h4,h5 
	color #333
h3 
	font-size 1.2rem
h4 
	font-size 1rem
h5 
	font-size .9rem
h6 
	font-size .8rem
	color color-font
	margin-bottom 6px
h1,h2,h3,h4,h5,h6
	font-weight 700
ol,ul 
	margin 0
	padding 0
	margin-bottom 20px
ul 
	list-style-type circle
ol 
	list-style decimal
li 
	list-style-position inside
blockquote 
	padding-left 15px
	border-left 3px solid color-background-back
hr 
	display block
	border none
	height 1px
	margin 40px auto
	background color-background-back
pre 
	font-family Menlo,Monaco,Courier
	white-space pre-wrap
	padding 20px
	overflow auto
	border-radius 3px
	font 500 .8rem 'Source Code Pro',Menlo,monospace
	line-height 1.5em
	color #d0d4d7
td,th 
	text-align left
	padding-right 20px
	vertical-align top
table td,td 
	padding 10px 15px
tr 
	&:nth-child(odd) 
		& > td 
			background color-background-back
th,thead th 
	text-align left
	padding 10px 15px
	height 20px
	font-size .8rem
	font-weight 700
	color #444
	cursor default
	white-space nowrap
img 
	max-width 100%
	border-radius 3px
b,strong 
	font-weight 700
	color #1e2025
em,i 
	font-style italic
	opacity .5
code 
	background-color #282c34
	font-family Menlo,Monaco,Courier,monospace
	padding 4px
	border-radius 4px
	overflow scroll
	margin 0
	color #ABB2BF
audio,video 
	width 100%