.header
    text-align center
    padding 0 0 40px
.profile 
	margin-bottom 20px
	h1 
		font-weight 800
		letter-spacing 0
		font-size 3rem
	h2 
		font-size 1.2rem
		font-weight 300
		color #aaa
		margin-top 10px
		font-family 'Helvetica Neue',Helvetica,Arial,sans-serif
		font-style italic
.main-nav 
	padding 0 20px
	margin 0 auto
	z-index 100
	a 
		padding 8px 12px
		color color-theme
		font-size 1.2rem
		line-height 2
		border-radius 3px
		transition all .15s ease
		&.cta 
			background color-theme
			color #fff
		&:hover
			background color-theme
			color #fff