.header
    text-align center
    padding 40px 0
.profile 
	margin-bottom 20px
	#wrapper 
		padding 40px
		max-width page-width
		margin 0 auto
	#header 
		padding-bottom 40px
		text-align center
		position relative
	#avatar 
		display inline-block
		width 80px
		height 80px
		border-radius 50%
		margin-bottom 20px
	h1 
		font-weight 600
		letter-spacing 0
		font-size 2rem
	h2 
		font-size 1.2rem
		font-weight 300
		color #aaa
		margin-top 10px
		font-family 'Helvetica Neue',Helvetica,Arial,sans-serif
		font-style italic
nav 
	&.main-nav 
		padding 0 20px
		margin 0 auto
		z-index 100
		a 
			padding 8px 12px
			color color-theme
			font-size 1.2rem
			font-weight normal
			line-height 2
			border-radius 3px
			&.cta 
				background color-theme
				color #fff
				margin-left 12px