.links
  header 
    text-align center
  h1 
    margin-bottom 0
    font 300 32px/1.4rem "Helvetica Neue",Helvetica,Arial,sans-serif
.links-list
  display grid
  gap 16px
  grid-template-columns repeat(3,minmax(0,1fr))
  li
    display inline-block
    position relative
    img
      width 5rem
      height 5rem
      background #eee
      border-radius .5rem
      position absolute
      top 1rem
      left 1rem
  a
    border-radius .5rem
    height 7rem
    width 100%
    float left
    padding 0 1rem 0 7rem
    transition background .3s ease
    &:hover
      p,h3
        color #eee
  a[href]:hover
    background-color color-theme
  h3
    font-size 1.5rem
    line-height 46px
    padding-top 8px
    font-weight 400
    margin 0
    overflow hidden
    white-space nowarp
  p
    opacity .5
    overflow hidden
    text-overflow ellipsis
    -webkit-line-clamp 2
    display -webkit-box
    -webkit-box-orient vertical