#post-nav 
	text-align center
	font-size .8rem
	font-weight 500
	margin-top 20px
	span 
		transition all .1s linear
		position relative
.prev 
	float left
	:hover .arrow 
			left -4px
.next 
	float right
	:hover .arrow 
			right -4px
.arrow 
	position relative
	padding 1px